<script type="module">
  
    let url = '{{pdf_url}}'';
  
    let { pdfjsLib } = globalThis;
  
    // The workerSrc property shall be specified.
    pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.6.82/pdf_viewer.min.css';
  
    // Asynchronous download of PDF
    let loadingTask = pdfjsLib.getDocument(url);
    loadingTask.promise.then(function(pdf) {
      console.log('PDF loaded');
  
      let pageNumber = {{pdf_page}} + 1;
      pdf.getPage(pageNumber).then(function(page) {
        console.log('Page loaded');
  
        let scale = 1.5;
        let viewport = page.getViewport({scale: scale});
  
        // Prepare canvas using PDF page dimensions
        let canvas = document.getElementById('pdf-canvas');
        let context = canvas.getContext('2d');
        canvas.height = viewport.height;
        canvas.width = viewport.width;
  
        // Render PDF page into canvas context
        let renderContext = {
          canvasContext: context,
          viewport: viewport
        };
        let renderTask = page.render(renderContext);
        renderTask.promise.then(function () {
          console.log('Page rendered');
        });
      });
    }, function (reason) {
      // PDF loading error
      console.error(reason);
    });
  </script>